/*==============================================================
REINICIA LOS PARAMETROS PARA MEJOR LECTURA EN CUALQUIER BROWSER
===============================================================*/

* {
  /*Quita el espacio externo de todas las cajas */
  margin: 0;
  /*Quita el espacio interno de todas las cajas */
  padding: 0;
  /*Hace que el tamaño de la caja sea fácil de calcular */
  box-sizing: border-box;
}

h1 {
  /*FUENTE DEL TITULO*/
  font-family: var(--fuentePrincipal);
  /*TAMAÑO DEL TITULO*/
  font-size: var(--tamañoTitulo);
  /*AUMENTA EL GROSOR DEL TITULO*/
  font-weight: bold;
  /*SEPARACION DE LAS LETRAS*/
  letter-spacing: 3px;
  /*COLOR DE LA FUENTE DEL TITULO*/
  color: var(--colorTitulo);
  /*ESPACIO ENTRE EL TITULO Y EL MENÚ*/
  margin-bottom: 30px;
  /*APLICA ALINEACIÓN CENTRALIZADA*/
  text-align: center;
}

body {
  /*COLOR DEL FONDO*/
  background-color: var(--colorFondoGeneral);
  /*COLOR DE LA FUENTE*/
  color: var(--colorTextoGeneral);
  /*TIPO DE FUENTE*/
  font-family: var(--fuentePrincipal);
  /*INTERLINEADO*/
  line-height: 1.6;
}

h2 {
  /*TAMAÑO DE LOS SUBTITULOS */
  font-size: var(--tamañoSubtitulo);
  /*COLOR DE LOS SUBTITULOS*/
  color: var(--colorSubtitulos);
  /*LINEA DEBAJO PARA SEPARAR SECCIONES*/
  border-bottom: 1px solid #333333;
  /*ESPACIO PARA EL SIGUIENTE CUADRO*/
  padding-bottom: 10px;
  /*APLICA ALINEACIÓN DE IZQUIERDA*/
  text-align: left;
  /*ESPACIO ENTRE EL TITULO Y EL MENÚ*/
  margin-top: 60px;
  /*ESPACIO DE MARGEN IZQUIERDO*/
  padding-left: 30px;
}

/*====================
DISEÑO DE LOS ENLACES
=====================*/

nav {
  /*COLOR DEL FONDO DEL NAVEGADOR*/
  background-color: var(--colorFondoMenu);
  /*ESPACIO EN BLANCO ARRIBA Y ABAJO DEL MENÚ*/
  padding: 10px;
  /*CENTRAR EL TEXTO*/
  text-align: center;
  /*LINEA DE SEPARACIÓN AL CONTENIDO*/
  border-bottom: 2px solid #333333;
  /*ESPACIO DEBAJO DEL MENPU*/
  margin-bottom: 30px;
}

/*DEFINE EL ESTILO DE LOS ENLACES*/
nav a {
  /*COLOR DE LA FUENTE*/
  color: var(--colorTitulo);
  /*QUITA EL SUBRAYADO POR DEFECTO*/
  text-decoration: none;
  /*ESPACIO ENTRE LOS ENLACES*/
  margin: 30px;
  /*GROSOR DE LA LETRA*/
  font-weight: bold;
  /*EFECTO DE CAMBIOS DE COLOR SUAVE*/
  transition: 0.5 seg;
}

/*EFECTO HOVER AL PASAR EL MOUSE POR EL ENLACE*/
nav a:hover {
  /*COLOR DE FUENTE CUANDO SE COLOCA ENCIMA EL MOUSE*/
  color: var(--colorResaltado);
}

/*=====================================
DISEÑO DE LAS TARJETAS PARA LOS DATOS
======================================*/

.cajasDatos {
  /*CAJA FELXIBLE: COLOCA A TODAS LAS CAJAS EN FILA HORIZONTAL*/
  display: flex;
  /*APLICA ALINEACION JUSTIFICADA ENTRE LAS CAJAS*/
  justify-content: space-around;
  /*SI NO ENTRAN EN PANTALLA SE BAJAN*/
  flex-wrap: wrap;
  /*ESPACIO ENTRE TARJETAS*/
  gap: 20px;
  /*ESPACIO ARRIBA Y ABAJO*/
  padding: 20px 0;
}

.tarjeta {
  /*COLOR DE FONDO A CADA TARJETA*/
  background-color: #1e1e1f;
  /*BORDE DE LA TARJETA*/
  border: 1px solid #333333;
  /*REDONDEA LOS BORDES*/
  border-radius: 10px;
  /*ESPACIO ARRIBA Y ABAJO*/
  padding: 30px;
  /*ANCHO PARA QUE TODOS SEAN IGUALES*/
  width: 200px;
  /*ALINEACION DEL TEXTO DENTRO DE LAS TARJETAS*/
  text-align: center;
  /*EFECTO DE SOMBRA PARA LA TARJETA*/
  box-shadow: 0 4px 10px #0e0e0e;
  /*EFECTO DE MOVIMIENTO*/
  transition: 0.5 seg;
}

/*EFECTO HOVER AL PASAR EL MOUSE POR LA TARJETA*/
.tarjeta:hover {
  /*LA TARJETA SUBE CUANDO PASO EL MOUSE*/
  transform: translateY(-5px);
  /*EL BORDE CAMBIA EL COLOR AL PASAR EL MOUSE*/
  border-color: var(--colorTitulo);
}

.tarjeta h3 {
  /*TAMAÑO DE LA FUENTE A ESCALA rem*/
  font-size: 0.9rem;
  /*COLOR DE LA FUENTE*/
  color: var(--colorTextoSuave);
  /*OBLIGA AL TEXTO A USAR MAYUSCULAS*/
  text-transform: uppercase;
}

.tarjeta p {
  /*TAMAÑO DE LA FUENTE*/
  font-size: 2rem;
  /*COLOR DE LA FUENTE*/
  color: var(--colorTitulo);
  /*GROSOR DE LA FUENTE*/
  font-weight: bold;
  /*MARGEN SUPERIOR*/
  margin-top: 10px;
}

/*==================
DISEÑO DE LAS LISTAS
===================*/

ul {
  /*QUITA LOS PUNTOS DE LISTA POR DEFECTO*/
  list-style-type: none;
  /*GENERA MARGEN A LA IZQUIERDA*/
  padding-left: 30px;
}

li::before {
  /*PONE UN SIMBOLO ANTES DE CADA ITEM*/
  content: "> ";
  /*CAMBIA EL COLOR DE LA FUENTE*/
  color: var(--colorTextoColor);
  /*CAMBIA EL GROSOR DE LA FUENTE*/
  font-weight: bold;
}

footer {
  /*COLOR DEL FONDO*/
  background-color: var(--colorFondoPie);
  /*COLOR DE LA FUENTE*/
  color: var(--colorTextoSuave);
  /*ALINEACION DE TEXTO CENTRADA*/
  text-align: center;
  /*GENERA ESPACIO ARRIBA Y ABAJO (NO MARGEN)*/
  padding: 30px;
  /*MARGEN SUPERIOR*/
  margin-top: 60px;
  /*MARCA UNA LINEA SUPERIOR*/
  border-top: 1px solid var(--colorTextoSuave);
  /*TAMAÑO DE LA FUENTE*/
  font-size: 0.85rem;
}

footer a {
  /*COLOR DE LA FUENTE*/
  color: var(--colorTitulo);
  /*ELIMINA EL SUBRAYADO POR DEFECTO*/
  text-decoration: none;
  /*ANCHO DE LA FUENTE*/
  font-weight: bold;
}

/*EFECTO HOVER AL PASAR EL MOUSE POR EL ENLACE*/
footer a:hover {
  /*APLICA SUBRAYADO*/
  text-decoration: underline;
}
