/*==============================================================
REINICIA LOS PARAMETROS PARA MEJOR LECTURA EN CUALQUIER BROWSER
===============================================================*/

* {
  /*Quita el espacio externo de todas las cajas */
  margin: 0;
  /*Quita el espacio interno de todas las cajas */
  padding: 0;
  /*Hace que el tamaño de la caja sea fácil de calcular */
  box-sizing: border-box;
}
