/*================
Elementos del main
==================*/

main {
  display: grid;
  grid-template-rows: 20% 25% 58%;
  border-top: 1px solid var(--colorTextoSuave);
}

/*Elementos de introduccion*/
#introduccion {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  flex-flow: wrap column;
  gap: 20px;
  border-bottom: 1px solid var(--colorTextoSuave);
}

h2 {
  font-size: 45px;
  color: var(--colorSubtitulo);
  margin: 10px;
}

#introduccion p {
  font-size: 22px;
  margin-bottom: 20px;
}

.btn-crear {
  background-color: var(--colorTitulo);
  color: var(--colorFondoGeneral);
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  width: 200px;
  display: block;
  margin: 0px auto;
}

.btn-crear:hover {
  background-color: var(--colorSubtitulo);
  color: var(--colorFondoGeneral);
}

.btn-crear:focus {
  background-color: var(--colorSubtitulo);
  color: var(--colorFondoGeneral);
}

.btn-crear:active {
  background-color: var(--colorActivacionBrillo);
  transform: translateY(3px);
  color: var(--colorFondoGeneral);
}

/*Elementos de estadisticas*/
#estadisticas {
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  gap: 30px;
  border-bottom: 1px solid var(--colorTextoSuave);
  flex-direction: column;
}

.contenedor-card {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  width: 220px;
  height: 170px;
  border: 1px solid var(--colorTextoSuave);
  border-radius: 10px;
}

.card .etiqueta {
  font-size: 18px;
  color: var(--colorTextoSuave);
}
.card .valor {
  font-size: 50px;
  color: var(--colorTitulo);
}

/*Elementos de novedades*/
#novedades {
  display: grid;
  grid-template-rows: 15% 70%;
}

.articulos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.articulos h3 {
  font-size: 25px;
}

.noticia {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--colorTextoSuave);
  border-radius: 10px;
}

.noticia h3 {
  background-color: var(--colorFondoMain);
  color: var(--colorTitulo);
  text-align: center;
}

.noticia .miniatura {
  display: flex;
  justify-content: space-around;
}

.noticia .miniatura img {
  height: 180px;
  border-radius: 10px;
}

.noticia .resumen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  max-width: 60%;
}
