main {
  display: grid;
  grid-template-columns: 40rem 1fr;
  gap: 3rem;
  padding: 2rem;
}

.perfil-usuario {
  display: flex;
  justify-content: center;
}

.perfil-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border: 1px solid var(--colorTitulo);
  border-radius: 4.5rem;
  padding: 1rem;
  width: 90%;
}

.perfil-contenido h2 {
  color: var(--colorSubtitulo);
  font-size: 2.5rem;
}

.perfil-contenido img {
  width: 18rem;
  height: 16rem;
  border: 2px solid var(--colorTitulo);
  border-radius: 40rem;
}

.perfil-contenido img:hover,
.perfil-contenido img:focus {
  transform: scale(1.05);
  border-color: var(--colorSubtitulo);
  box-shadow: 0 0.5rem 1.5rem #000000;
}

.perfil-contenido img:active {
  border-color: var(--colorActivacionBrillo);
}

.rol {
  font-size: 1.8rem;
  color: var(--colorTextoSuave);
}

.info {
  font-size: 1.6rem;
  background-color: transparent;
  border: 1px solid var(--colorTextoSuave);
  padding: 1.6rem;
  border-radius: 1rem;
  width: 100%;
}

.info p {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--colorTextoSuave);
  padding: 6px 0;
}

.descripcion {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 1px solid var(--colorTextoSuave);
  border-radius: 0.5rem;
  padding: 2rem;
}

.descripcion h3 {
  font-size: 2.5rem;
  color: var(--colorSubtitulo);
  margin-bottom: 2rem;
}

.descripcion span {
  font-size: 1.6rem;
}
