/*==============================================
  proyectos.css
  Estilos específicos para proyectos.html.
  Usa las variables definidas en style.css (:root)
  para mantener consistencia visual con el resto
  del sitio.
  Estructura general: CSS Grid
  Componentes internos (filtros, tarjetas): Flexbox
}

.nav a:active {
  transform: translateY(4px);
  filter: brightness(0.8);
  color: var(--colorActivacion);
  border-color: var(--colorActivacionBrillo);
}

.Barra-filtros select:focus {
  outline: 1px solid var(--colorTitulo);
  border-color: var(--colorTitulo);
}

.Barra-filtros select:active {
  border-color: var(--colorActivacionBrillo);
}

.contenedor-boton {
  display: flex;
  justify-content: center;
}

.btn-crear {
  width: 50%;
  display: flex;
  justify-content: center;
  font-family: var(--fuentePrincipal);
  font-size: 1.3rem;
  padding: 1rem;
  background-color: var(--colorTitulo);
  border-radius: 0.5rem;
  cursor: pointer;
  border-color: 1px solid var(--colorTextoSuave);
}

.btn-crear:hover,
.btn-crear:focus {
  background-color: var(--colorSubtitulo);
}

.btn-crear:active {
  background-color: var(--colorActivacionBrillo);
}

/*================================================
  SECCIÓN DE LISTADO DE PROYECTOS
  Grid interno: título arriba, contenedor abajo
}

.info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info h2 {
    font-size: 24px;
    color: var(--colorTitulo);
}

.categoria {
    font-weight: bold;
    color: var(--colorTextoSuave);
    font-size: 14px;
    margin: 10px 0;
}

.informacion .etiqueta {
  font-size: 1.6rem;
  align-self: flex-end;
  color: var(--colorTextoSuave);
}
