/* Vamos a usar un estilo gamer para la página por lo que vamos a 
concentrarnos en tonos oscuros que cuiden la vista mientras trabajamos*/

:root {
  /*COLOR DE LOS FONDOS*/
  --colorFondoGeneral: #131314;
  --colorFondoHeader: #131314;
  --colorFondoMain: #43434b;
  --colorFondoFooter: #0b0b0c;
  /*COLOR DE LAS FUENTES*/
  --colorTitulo: #4fdbf7;
  --colorSubtitulos: #81d8fa;
  --colorTextoGeneral: #e3e3e3;
  --colorResaltado: #ffffff;
  --colorTextoSuave: #878787;
  /*TIPOS DE FUENTE*/
  --fuentePrincipal: "Candara", sans-serif;
  /*TAMAÑO DE LAS FUENTES EN REM PARA QUE SEA RELATIVO*/
  --tamañoTitulo: 3rem;
  --tamañoSubtitulo: 2rem;
  --tamañoCuerpo: 1rem;
}
